
body {
    width: 297mm;
    background: none;
    font-size: 16pt;
    padding-right: 2.4cm;
}

#evalButton, #headPanel, #bottomPanel {
    display: none;
}

.termContainer {
    white-space: normal;
}

.nodebox {
    height: unset;
    margin-bottom: 40px;
}

#mainFrame {
    margin-top: 1em;
    margin-left: 1em;
}

